.carousel-item{
	height: 670px;
}
.carousel-item img{
	height: 700px;
}
.carousel-item .display-4{
	margin-top: -440px;
}
.carousel-item hr{
	border-color: #F05F40;
	width: 70px;
	border-width: 3px;
}
.carousel-item .btn{
	background-color: #F05F40;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 40px;
}
.card-body{
	hover
}
.button-cari{
	background-color: #ffe4e1;
	border-radius: 5px;
	border: 1px solid black;
}
.promomenarik{
	color: mistyrose;
	background-color: darkslateblue;
	margin-right: 500px;
	margin-left: 500px;
}
.makananj{
	color: mistyrose;
	background-color: darkslateblue;
	margin-right: 500px;
	margin-left: 500px;
}
.box-pesanan{
	padding: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.jumlah-pesanan{
	width: 80%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid #dcdcdc;
	border-radius: 10px;
}
.jumlah-pesanan > p{
	font-size: 25px;
}
.footer{
	color: mistyrose;
	text-align: center;
	margin-right: 450px;
	margin-left: 450px;
}

.kolom-order{
	width: 300px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 5px #212F3D ;
    color: #212F3D ;
}
.kolom-order h3{
	font-size: 15px;
	margin-bottom: 15px;
}

.kolom-order h2{
	font-size: 20px;
}
